# 1. Copy or rename this file to "terraform.tfvars"
# 2. Replace the dummy values with your actual secrets.

###### RDS Variables ######
rds_username = "RDS_DB_USERNAME"
rds_password = "RDS_DB_PASSWORD"

# To restore from a previous backup after a tofu destroy, uncomment this line and paste the snapshot name:
# rds_snapshot_identifier = "cyclelink-dev-db-final-snapshot-123456"

###### ECS / App Variables ######
# secret_key      = "YOUR_JWT_SECRET_KEY"
# allowed_origins = "http://localhost:3000,https://cyclelink.com"

