# 1. Copy or rename this file to "terraform.tfvars"
# 2. Replace the dummy values with your actual secrets.

###### RDS Variables ######
rds_username = "RDS_DB_USERNAME"
rds_password = "RDS_DB_PASSWORD"

# To restore from a previous backup after a tofu destroy, uncomment this line and paste the snapshot name:
# rds_snapshot_identifier = "cyclelink-prod-db-final-snapshot-123456"

###### DocumentDB Variables ######
docdb_username = "DOCDB_USERNAME"
docdb_password = "DOCDB_PASSWORD"
